@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image:url('https://smartenergy.illinois.edu/wp-content/uploads/2022/03/EV-charging-2.png'); 
                                height:500px; 
                                background-repeat:no-repeat;    
                                background-position:center">

    <h1 class="display-4">Charge your EV smart!</h1>
    <p>Welcome to our website! We will help you book a spot at the nearest charging machine available!</p>
    
</div>
